.container{
    display: block;
    text-align: center;
}

/* .wrap {
    font-size: 20px;
    padding: 20px;
    color: red
} */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 20px;
 }
 button {
     margin-bottom: 40px;
 }  
 